// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

body {
    font-family: "Share Tech Mono", monospace;
}
.train-table th,
.train-table td {
    vertical-align: middle;
}
.status-on-time {
    color: #28a745;
    font-weight: bold;
}
.status-late {
    color: #fd7e14;
    font-weight: bold;
}
.status-cancelled {
    color: #dc3545;
    font-weight: bold;
}
